Repository nhibernate/nhibernate-core, pull requests merged in 2022-04, with the labels that each got.

#3035 Supports tests in VS 2022
  Tools/packages.csproj
  build-common/NHibernate.props
  psake.ps1
  src/NHibernate.Test.VisualBasic/NHibernate.Test.VisualBasic.vbproj
  src/NHibernate.Test.VisualBasic/Program.vb
  src/NHibernate.Test/Async/Linq/WhereTests.cs
  src/NHibernate.Test/Linq/MathFTests.cs
  src/NHibernate.Test/Linq/WhereTests.cs
  src/NHibernate.Test/NHibernate.Test.csproj
  src/NHibernate.Test/Program.cs
  src/NHibernate.TestDatabaseSetup/NHibernate.TestDatabaseSetup.csproj
  src/NHibernate.TestDatabaseSetup/Program.cs
  src/NHibernate/Collection/Generic/SetHelpers/SetSnapShot.cs
Labels: c: Tests, p: Minor, t: Tests

#3043 Improve exception for query on delayed id
  src/NHibernate.Test/Async/Generatedkeys/Identity/IdentityGeneratedKeysTest.cs
  src/NHibernate.Test/Generatedkeys/Identity/IdentityGeneratedKeysTest.cs
  src/NHibernate.Test/Generatedkeys/Identity/MyEntity.hbm.xml
  src/NHibernate/Async/Type/EntityType.cs
  src/NHibernate/Async/Type/ManyToOneType.cs
  src/NHibernate/Async/Type/OneToOneType.cs
  src/NHibernate/Type/EntityType.cs
  src/NHibernate/Type/ManyToOneType.cs
  src/NHibernate/Type/OneToOneType.cs
Labels: t: Improvement, p: Lowest, c: Core

#3048 Fix many-to-one disabled filters for entity joins
  src/NHibernate.Test/Async/NHSpecificTest/GH2549/Fixture.cs
  src/NHibernate.Test/NHSpecificTest/GH2549/Fixture.cs
  src/NHibernate.Test/NHSpecificTest/GH2549/Mappings.hbm.xml
  src/NHibernate/Engine/JoinSequence.cs
  src/NHibernate/Loader/JoinWalker.cs
Labels: t: Fix

#2737 Add more left join support
  src/NHibernate.Test/Async/Linq/ByMethod/JoinTests.cs
  src/NHibernate.Test/Linq/ByMethod/JoinTests.cs
  src/NHibernate/Linq/GroupJoin/AggregatingGroupJoinRewriter.cs
  src/NHibernate/Linq/GroupJoin/GroupJoinAggregateDetectionQueryModelVisitor.cs
  src/NHibernate/Linq/GroupJoin/GroupJoinAggregateDetectionVisitor.cs
  src/NHibernate/Linq/GroupJoin/NonAggregatingGroupJoinRewriter.cs
Labels: t: New Feature, c: Linq Provider, p: Minor
