Repository nhibernate/nhibernate-core, pull requests merged in 2024-06, with the labels that each got.

#3556 Add support for .NET 8 Math functions
  src/NHibernate/Linq/Functions/MathGenerator.cs
  src/NHibernate/Linq/Functions/RoundGenerator.cs
  src/NHibernate/Linq/Functions/TruncateGenerator.cs
Labels: t: New Feature, c: Linq Provider, p: Minor

#3558 Migrate AppVeyor & TC builds to PostgreSQL 13
  appveyor.yml
  lib/teamcity/postgresql/postgresql_installation.txt
  teamcity.build
Labels: r: Fixed, c: Tests, p: Major, t: Task

#3554 Fix support for nullable struct components
  src/NHibernate.Test/Async/NHSpecificTest/NH1284/Fixture.cs
  src/NHibernate.Test/NHSpecificTest/NH1284/Fixture.cs
  src/NHibernate.Test/NHSpecificTest/NH1284/Mappings.hbm.xml
  src/NHibernate/Cfg/XmlHbmBinding/ClassIdBinder.cs
  src/NHibernate/Cfg/XmlHbmBinding/PropertiesBinder.cs
  src/NHibernate/Tuple/Component/PocoComponentTuplizer.cs
Labels: t: Fix

#3559 Add new DB2NetDriver and obsolete DB2CoreDriver
  src/NHibernate.Test/TestDialect.cs
  src/NHibernate.Test/TestDialects/DB2TestDialect.cs
  src/NHibernate.TestDatabaseSetup/TestDatabaseSetup.cs
  src/NHibernate/Dialect/DB2Dialect.cs
  src/NHibernate/Driver/DB2CoreDriver.cs
  src/NHibernate/Driver/DB2NetDriver.cs
Labels: t: New Feature, c: DataProviders / Dialects, p: Minor

#3561 Migrate .NET Core SQLite Windows tests from AppVeyor to GitHub Actions
  .github/workflows/NetCoreTests.yml
  appveyor.yml
Labels: c: Tests, p: Minor, t: Task

#3562 Migrate .NET Core PostgreSQL Windows tests from AppVeyor to GitHub Actions
  .github/workflows/NetCoreTests.yml
  appveyor.yml
Labels: c: Tests, p: Minor, t: Task

#3555 Obsolete IValue SetTypeUsingReflection & associated methods
  src/NHibernate/Cfg/XmlHbmBinding/ClassCompositeIdBinder.cs
  src/NHibernate/Cfg/XmlHbmBinding/ClassIdBinder.cs
  src/NHibernate/Cfg/XmlHbmBinding/PropertiesBinder.cs
  src/NHibernate/Mapping/Any.cs
  src/NHibernate/Mapping/Collection.cs
  src/NHibernate/Mapping/Component.cs
  src/NHibernate/Mapping/IValue.cs
  src/NHibernate/Mapping/OneToMany.cs
  src/NHibernate/Mapping/SimpleValue.cs
  src/NHibernate/Mapping/ToOne.cs
  src/NHibernate/Util/ReflectHelper.cs
Labels: c: Core, p: Minor, t: Task

#3570 Fixing a typo in PersistEvent.cs
  src/NHibernate/Event/PersistEvent.cs
Labels: p: Lowest, c: Core, t: Task
